# All the files that shouldn't be sent into the Docker image
client.py
cli.py
docker/
docs/
excel_files/
.git/
.gitignore
.idea/
output.txt
out.txt
__pycache__/
README.md
requirements.txt
server_image
